html, body {
    height: 100%;
}

#content{
background-color: #6EB4E1;
position:absolute;
min-width: 100%;
min-height: 100%;
}

#calculator{
  height: 300px;
  width: 500px;
  /*background-color: #756F93;*/
  background-color: #CBCCD0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 5px #dedede;
}

#monitor{
  background-color: #6A6E85;
  border-radius: 10px 10px 0px 0px;
  height: 60px;
  width: 100%;
}

#header{
  width: 100%;
  height: 35px;
}

#spaceOnMonitor{
  height: 13px;
}
#screen{
  width: 90%;
  height: 40px;
  background-color: #D4E2E3;
  position:relative;
  margin: auto;
  font-family: verdana;
  border-radius: 5px 5px 5px 5px;
}

#screenResult{
  width: 100%;
  height: 60%;
}

#screenOperation{
  width: 100%;
  height: 40%;
  position: relative;
  float: left;
  transform: translate(-51%, -10%);
  left: 50%;
}

#scientific{
  float: left;
  width: 50%;
}

.containerScientificButton{
  width: 60px;
  height: 40px;
  float: left;
  margin-left: 20px;
}

.scientificButton{
  float: left;
  width: 50px;
  height: 30px;
  background-color: #35363B;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 2px solid #A4A3A8;
  border-right: 2px solid #A4A3A8;
  cursor: pointer;
  font-family: sans-serif;
  color: white;
}

#standard{
  float: left;
  width: 50%;
}

.containerStandardButton{
  width: 60px;
  height: 40px;
  float: left;
}

.standardButton{
  width: 50px;
  height: 30px;
  background-color: #E9E9EB;
  float: left;
  overflow: hidden;
  margin: 0px auto;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 2px solid #A4A3A8;
  border-right: 2px solid #A4A3A8;
  cursor: pointer;
  font-family: sans-serif;
}

.textButton{
  width: 50px;
  display: table-cell;
  text-align: center;
  line-height: 30px;
}
